%ul
  %li!= link_to "Home Page", "/"
  %li!= link_to "Our Goal", "/our_goal"
  %li!= link_to "Follow Tour", "/follow_the_tour"
  %li!= link_to "Water Savings Calculator", "/calculator"
  %li!= link_to "Wholesaler", "/sign_in"
  %li!= link_to "Contact Us", "/contact"
  %li!= link_to "Links", "/links"
  %li!= link_to "FAQs", "/faqs"
  %li!= link_to "Media", "/media", :class => "last"
.clearlft
