%td.company_name= plumber.company_name
%td.contact_name= plumber.contact_name
%td.email= plumber.email
%td.phone= number_to_phone(plumber.phone)
%td.street_address= plumber.street_address
%td.city= plumber.city
%td.state= plumber.state
%td.zip= plumber.postal_code
