!!!
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    != stylesheet_link_tag "master"
    != javascript_include_tag "jquery.min", "jquery-ui.min", "application", "jquery.application"
    != javascript_include_tag "google"
  %body
    #header
      %h2 The Responsible Bathroom Tour 
    #container
      #nav
        != render :partial => 'layouts/nav/primary' 
      #content
        != show_flash
        != yield
